* {
 
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  font-family: Poppins, sans-serif;
}

.sidebar-container .ps-sidebar-container{
  /* background-image: linear-gradient(rgba(14, 56, 47, 0.5), rgba(0, 0, 0, 0.5)),url(./assets/Images/w2.jpg); */
  background-color: #203FC7;
  height: 100vh;
  & .ps-menu-button{
    transition: all 0.15s;
  }
  & .ps-menu-button:hover{
    background-color: #243892;
  }
}
.sidebar-container button{
  color: #fff;
  background-color: transparent;
  border: 0;
  &:hover{
    cursor: pointer;
  }
}
.collapse-button{
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.collapse-button.expanded {
  /* transform: scale(-1); */
  transform: rotateY(180deg);
}

/* ^====================>> Responsive Table <<===================== */
.responsive-table-categories {
  padding: 0;
  li {
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .table-header {
    padding: 25px 35px;
    background-color: #e2e5eb;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  .table-row {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
  }
  .col-1 {
    flex-basis: 5%;
  }
  .col-2 {
    flex-basis: 5%;
  }
  .col-3 {
    flex-basis: 5%;
  }
  .col-4 {
    flex-basis: 5%;
  }
  .col-5 {
    flex-basis: 5%;
  }
  .col-6 {
    flex-basis: 5%;
  }
  .col-7 {
    flex-basis: 5%;
  }
  .col-8 {
    flex-basis: 5%;
  }


  /***************************************/

  @media all and (max-width: 650px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      width: 100%;
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        content: attr(data-label);
        flex-basis: 50%;
        font-size: 15px;
      }
    }
  }
}


[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;  margin: 0;
  position: absolute;
}

[type="file"]+label {
  background: #617e8f;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: inherit;
  outline: none;
  padding: 1rem 50px;
  margin-top: -10px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &.btn-2 {

    width: 200px;
    border-radius: 50px;
    overflow: hidden;
  }

}
[type="file"]+label:hover {
  background: #4f778e;
}



