.StayCation {
    font-size: 25px;
    margin-bottom: 40px;
}

.StayCation span {
    color: #4763e1;
}

.StayCation strong {
    color: #536184;
}

.H1Title {
    color: #0e0e0e;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;

}

.Paragraph {
    font-size: 20px;
    color: #727272;
    margin-bottom: 30px;
    width: 60%;
}

.BackTologin {
    /* font-size: 20px;
    color: #727272;
    width: 60%; */
}

.MainLabel {
    margin-bottom: 10px;
    margin-top: 5px;
}

.registerLabel {
    color: #75829d;
    font-size: 17px;
    margin-bottom: 400 !important;

}

.ControlInputs {
    /* background: red; */
    margin-bottom: 20px;
}

.registerInput {
    background-color: #f5f6f8;
    width: 100%;
    margin-bottom: 400 !important;

}

.ButtonSignUp {
    background: #3252df !important;
    padding: 10px 0px !important;
    width: 80%;

}